<div class="maindiv">
    <!-- Head -->
    <div class="head">
        <img class="smenu"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAFFJREFUSEvtlEkKADAIA83/H52eu1APZQShnquTBaqAR/D9+IA04fqIbDuVdXkgaRK9OcABL+pPu/Ud4A7wDnAAHlF/AN4BDujfwXewJoD/pgNrVBgZX2h0sgAAAABJRU5ErkJggg==" />
        <div class="name">Jeeva Rathinam</div>
    </div>
    <!-- <div id="navbar">
        <ul id="navul">
            <li class="op">Home</li>
            <li class="op">Skills</li>
            <li class="op">Education</li>
            <li class="op">Certification</li>
        </ul>
    </div> -->
    <!-- <div id="navbar2">
        <ul id="navul2">
            <li class="op">Home</li>
            <li class="op">Skills</li>
            <li class="op">Education</li>
            <li class="op">Projects</li>
            <li class="op">Certification</li>
        </ul>
    </div> -->

    <!-- Home -->
    <!-- <div id="home">
        <div id="hi">
            Hi,<br>I'm <span id="nh">JEEVA </span><br>Frontend Developer
        </div>
        <div id="photo"><img id="mypic" src="Resume-removebg-preview.png" alt=""></div>
        <div id="contact">
            <a href="mailto:jeevaofficial3003@gmail.com"><img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUVJREFUSEvt1T0vREEUxvHfIiKhUItCoZAofQOJSkFCg0RFo0RCpaFQoNBQe+loJDolvoGodCQSX0DhdeTumtzsmrvLdm43OWee/3nOzJlb0uSv1GR9/4Bkh+MWDWMf3TjAKl6SCt8JY1hHO+ZwGUIx4AE9keAVJvGYgLRhE0tR3h3684D3KkJPGMd1DUgfTjBUJf5VfOygGiDkhDatYCcnEsCH6KoBLwwo7z/DNF6xi/lE6+oGBL3bzPVAgcNvCFBAt5KSBFwgVNqbUL3PnI3k8pKALWzgGKM1IOeYwRoW6wVsYznbtICw7sjWz5ngXrYOsV8Bgs4gTjPBCdxEFf8JIOh1Ztc0OIi/0M54kisz9tOgxS1K3Z5CDsIAteRsl88gBcg7ePt8+FrzT8URpiJIPQ5iQBAPN282D0hV2VD8/5eZbNsHnRQ+GcOlqXcAAAAASUVORK5CYII=" /></a>
            <a href="https://wa.me/9585116273"><img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAi9JREFUSEvN1UnITnEUBvDfx8JMdoREiChThg1JmVI2hqIUiTInZcGGYiE2xpQSxUKxUJJZSCFiY0ghsjKkKGS+R+f7ent77/vafPWd1e3e8z/P/zznOc9t0srR1Mr1tQmAsViAyRiCX7iFO7iAB/VYqNdBPxzGDHzOQk/wDaMxEj2wG1vwvRZQGUDc9Bo6YAOO40+NAmsT4AXm4VF1Ti2AXriXVEzF8wZCGFF0dAbtMBxfKvNrAZzDeIzDy4KmPuiGp3WAAuQ+jmBlPYBJuIFlmTwsu3mHASU0NdfbjB2YjkvNL6s72Iel6FkM7kfR7ibszOQY9sU6XXRKMQRdc8sAHuI15mTCKhzI5wA+2mAecT5iVBnAm4L/mMGKTOidc/iIkO3PBgCHsAjdywCe5bAWVhQKKe7FQaxpMIegcz06lgGcT/4nVN30ZG5z8BuAnZOuUM2pomh0GBF5YzC4DGB7DrYv3laAtC+A92A1PvHPw0K6EbvyTOzBe5zG8jKAgblY24qErTX4npZ0Dc1vvzEzZRncn0hraVFbrUULJYShhcmVRdAQg3yVIuiPuwivmlJ5qBqgS/IZ+7CxgWKaP0fxywkY2x8yb4lqgNk4W9C0GNF+bOXtYouP4WsVYMxpCdalssK3Gprd/hxkc604MCit+HrSEa4aXjUxk27m9tc0xeoOwkMi8SquFJL8UNhx1+Jm84sfzCyEfMNGHqdnhUSD+9JoE7/M/5x17bRW7+Av0jpxGTt6Zt0AAAAASUVORK5CYII=" /></a>
            <a href="https://github.com/jeevarathinam3003"><img class="con i3"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAjBJREFUSEu11UnIjlEUB/DfJ7IhCyRZosxFslCKKGFjKEOKEjKlJGOJZAglkiHsCCXDhh0LC5SIjEWysDAkC1KIPOfrvnW/53uHx+I7m/e99/7P/Z9z7jn/p00XW1sX368VQQ/MxgyMxlDafd7hCW4W+1fwu1GgzQim4SSGtMjyLVbiVj1cI4It2J+irVLFv9iKQ2VwPYLNOFDl1jqYDTiS75cJpqRUYz/quwyrsQPd8CbVezgi6n04gWOYl/Ym4W6NJCfoiecYnA53Y2f6H+/wEd/SuhcG4nVab8fe9P8FxhRB/Yl1TrAAl7L0ItVIuYodxKYMOCtVoAPB+SKixRloIu5VuT1F/DgL+DjWlTOI8ozI0hxZ8fIa7CHGpcWDIoMJZYJP6J8A14tBmvOfBBewKPl8Qb8ywYdisAYkwG1M/U+CG5iZfL6jd5ngEcYmQHRL32YSUCIPSfmMPmn/FaKVOzzyGSzPHFfgbMUsAns6w57DkjJB1PwqviJSjD6P8Q89+tGAKOZhbRq4GMSazcflMkHMRHTSoKI9p2MVluJX6umF+JluiJJcS7juJfKXGJWmupNcz03y+x7j0+BNTlmsKV10EUFatqhEdGG71RO7o1if9GdPkzfYlUlJDXa4kJONuU8juQ5xCy26U4jYUzzDqRJZnAeuZqHCleS65hCqGHoU0xnyHQ+eWyjpNtxPmhW/nazVJzPO45MZMh2Z5DYs9Xo8dkNrRdDMt9JZlxP8A6W4YxlKv0WFAAAAAElFTkSuQmCC" /></a>
            <a href="https://www.naukri.com/mnjuser/profile"><img class="con i4"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALpJREFUSEvtlUEOgjAQRR+nYGFCQljobbgMG2+AF/IgbNwZSVh4C41REkpofsfSDaHblv/m/ynTjMQrS6yPAtRAC5w8hdyABrj6ClWAJ5ALl3eg+hfw+n3oK0Tty4iUgNp3ACrv0Pvg9GVqfQAOoSqhfZkCRrsrMb7pbAuwVjSOjiWi+b+gembuQXKANUKzgx2AuhXREfVAYVXxnH8A5XxUfKbpBThGQjrgPL5y6kWLZLnDLlpsSSC5gzdC3x8ZYEHdLgAAAABJRU5ErkJggg==" /></a>
        </div>
        <div id="about">
            <div id="abouthead">About</div>
            Motivated and dedicated Javascript and React JS
            developer with strong foundation in programming
            skills. Passionate about creating efficient and
            reliable websites. Eager to contribute to software
            development project.
        </div>


    </div> -->
</div>